@import url('https://fonts.googleapis.com/css2?family=Kalnia:wght@100..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');



html {
  font-family: 'Raleway', sans-serif;

  overflow-x: hidden;
  margin:0;

  /*background grid*/
  background: #C4D700;
  background: linear-gradient(0deg,#E62F8B 0%, #F7F8FC 50%, #C4D700 100%);

}

body {
  color: #2F3A3C;
  width:100vw;
  height:100vh;
  margin:0;

  display:grid;
  grid-template-columns: 1fr;
}

.main_container {
  display: grid;
  place-items: center;
  width:100vw;
  height: 100vh;
}

.main_content::selection {
  background:#C4D700;
  color: #E62F8B;
}

.main {
  width: 85vw;
  height: 85vh;
  background-color: #F7F8FC;
  border-style: solid;
  border-width:2px;
  border-color:#2F3A3C;
  overflow-x: hidden;
  overflow-y: auto;

  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */

  overscroll-behavior: contain;
}


.main::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Edge */
}

.main_content {
  width:80vw;
  margin: auto;
  padding-top: 100px;
}

.main_content_small_header {
  width:80vw;
  margin: auto;
  padding-top: 60px;
}

.subtitle_text {
  z-index: 5;
  position: relative;
  font-weight: 400;
  margin: 10px 0;
  font-size: 1.5em;
}

.subtitle_link {
  text-decoration: none;
  color:#2F3A3C;
}

.main_body {
  margin-top: 4vh;
  width:25vw;
  min-width: 300px;
}

.main_body_text {
  font-size: 1em;
}

.in_text_link {
  color:#2F3A3C;
}

.main_sig {
  width:25vw;
  min-width: 300px;
  height: auto;
}

.main_sig_img {
  width:60%;
}

.main_works_holder {
  margin-top: 20px;
  width: 80%;
}

.projects_holder {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
  gap: 16px;

  margin-bottom: 20px;
}

.project_box {
  position: relative;

  width: 200px;
  height: 184px;
}

.project_title {
  z-index: 5;
  position: absolute;
  top: 100px;
  left:0;

  vertical-align: center;

  color: #F7F8FC;
  font-style: italic;
  width: 8vw;
  height: auto;
  min-width: 150px;
  background-color: #C4D700;
}

.project_title_text {
  margin-left: 8px;
  margin-top: 16px;
  font-size: 1em;
  font-weight: 400;
  margin-bottom: 2px;
}

.project_type_text {
  font-size: 0.6em;
  margin-left: 8px;
  margin-top: 0;
}

@keyframes projectTitleBgChange {
  from {background-color: #C4D700;}
  to {background-color: #E62F8B;}
}

.project_box:hover > .project_title {
  animation-name: projectTitleBgChange;
  animation-duration: 0.3s;
  background-color: #E62F8B;
}

.project_cover {
  position: absolute;
  z-index: 1;
  top:0;
  left: 16px;

  width: 180px;
  height: 180px;

  border-width:2px;
  border-color:#E62F8B;
  border-style: solid;

}

.project_cover_img{
  width: 180px;
  height: 180px;

}

.contact_holder {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;

  margin-top: 20px;
}

.resume_photo {
  width: auto;
  height:20vh;
  max-height: 300px;
  min-height: 180px;
}

.contact_info {
  margin: auto 0 auto 5vw;
  text-align: right;
}

.resume_body {
  margin-top: 4vh;
  width: 60vw;
  min-width: 400px;
}

.gdrive_link{
  margin: 10px 0;
  color: #E62F8B;
  text-decoration: none;
}

.h3_link {
  font-size: 1.5em;
  font-weight: 600;
}

.resume_section_title {
  font-size: 1.2em;
  font-weight: 400;
  margin-bottom: 16px;
  margin-top: 16px;
}

.gdrive_link:hover{
  color: #C4D700;
}

.resume_section_title > span {
  background-color: #C4D700;
  padding-left: 2px;
  padding-right: 30px;
}

.resume_title {
  margin:8px 0;
  font-style: italic;
  font-size: 1em;
  margin:0 0 8px 0;
  font-weight: 600;
}

.resume_date {
  margin:8px 0;
}

.resume_body_text {
  font-size: 1em;
  margin:8px 0 8px 16px;
}

.work_title_text{
  font-size: 1.5em;
  font-weight: 400;
  margin-top: 10px;
  margin-bottom: 4px;
}

.work_type_text{
  margin-top:0;
}

.work_img_holder {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
  gap: 16px;
}

.work_img_box_h {
  width: 30%;
  min-width: 200px;
  height:auto;
}

.work_img_box_v {
  width:23%;
  height:auto;
  max-height: 300px;
}

.work_img_box_tall {
  width:30%;
  height:auto;
  max-height: 500px;
}

.work_img_box_small {
  width:20%;
  height:auto;
  max-height: 300px;
}

.work_img_box_h img{
  width:100%;
  height:100%;
  object-fit: contain;
}

.work_img_box_v img{
  /* width:100%; */
  height:100%;
  object-fit: contain;
  margin-left: 0;
}

.work_img_box_small img {
  width:100%;
  height:100%;
  object-fit: contain;
}

.work_img_box_tall img {
  /* width:100%; */
  height:100%;
  object-fit: contain;
}

.work_img_box {
  width:90%;
  height: auto;
}

.work_img_box img {
  width:100%;
  height:100%;
  object-fit: contain; 
}

.work_img_box_half {
  width:60%;
  height: auto;
}

.work_img_box_half img {
  width:100%;
  height:100%;
  object-fit: contain;
}

.work_img_box_half iframe {
  object-fit: contain;
}

.work_section_title {
  margin:8px 0;
  font-size: 1.2em;
  font-size: 1em;
  margin:0 0 8px 0;
  font-weight: 600;
}

.work_section_sub {
  font-style: italic;
  margin-top: 24px;
  margin-bottom: 8px;
}

.design_elements {
  z-index:10;
  position: fixed;
  width: 82vw;
  height:88vh;
  margin: 6vh 9vw;
 

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
  gap: 8px;

  color: #F7F8FC;

  pointer-events: none;
  overscroll-behavior: contain;
  
}

.design_top{
  height:20%;

}

.top_grid{
display: grid;
grid-template-columns: 1fr;
grid-template-rows: repeat(2, 1fr);
grid-row-gap: 10px;
}

.top_blocks_container {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  gap: 10px;
}

.square_spacing {
  width: 5px;
  height: 50px;
}

.pink_square{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background-color: #E62F8B;
  font-size: 1.5em;
  font-weight: 400;
}

.top_line {
  width: 20vw;
  height:1.2px;
  margin-top: 14px;
  margin-left: 14px;
  background-color: #2F3A3C;
}

.design_middle {
  height:70%;
  padding-right: 2vw;

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: flex-end;
  align-content: flex-start;
  gap: 10px;
}

.selected_page{
  display:grid;
  place-items: center;
  height:auto;
  margin: 8px 0;

  pointer-events: auto;
}

.selected_page_text {
  z-index:2;
  grid-area: 1 / 1;

  padding-left: 4vw;
  padding-right: 0.5vw;
  color: #2F3A3C;
  font-family: 'Kalnia', serif;
  font-size: 4.6em;
  font-weight: 300;
  margin:0;
}

.selected_page_bg_color{
  z-index: 1;
  grid-area: 1 / 1;

  width: 100%;
  height: 50px;
  transform: translateY(25px);

  background-color: #C4D700;
}

.page_link{
  display:grid;
  place-items: center;
  margin: 8px 0;

  pointer-events: auto;
}

#page_link_no_b_margin {
  margin-bottom: 0;
}

.page_link_a {
  text-decoration: none;
}

.page_link_text {
  z-index:2;
  grid-area: 1 / 1;

  padding-left: 4vw;
  padding-right: 0.5vw;
  color: #F7F8FC;
  font-family: 'Raleway', sans-serif;
  font-size: 1.5em;
  font-weight: 400;
  letter-spacing: 50%;
  margin:0;
}

.page_link_bg_color{
  z-index: 1;
  grid-area: 1 / 1;

  width: 100%;
  height: 50px;

  background-color: #E62F8B;
}

@keyframes linkBgColorChange {
  from {background-color: #E62F8B;}
  to {background-color: #C4D700;}
}

.page_link:hover > .page_link_bg_color {
  animation-name: linkBgColorChange;
  animation-duration: 0.3s;
  background-color: #C4D700;

}

.design_bottom {
  height:10%;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 5px;
  grid-row-gap: 0px;
 
}

.bottom_line_holder {
  grid-area: 1 / 1 / 2 / 3;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: flex-end;
  align-content: flex-start;
}

.bottom_line {
  width: 30vw;
  height:1.2px;

  margin-bottom: 14px;

  background-color: #2F3A3C;
}

.footer_text {
  color:#F7F8FC;

  grid-area: 2 / 1 / 3 / 2;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-end;
  align-content: flex-start;
  
  margin-left:-1.5vw;
}

.footer_text_p {
  margin-top: 0;
  margin-bottom: -0.2em;
  font-size: 0.6em;
}

.footer_text_p a {
  text-decoration: none;
  color:#F7F8FC;
}

.footer_text_p a:visited {
  color: #F7F8FC;
}

.bottom_blocks_container {
  grid-area: 2 / 2 / 3 / 3;

  display: inline-flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: flex-end;
  align-content: flex-start;
  gap: 10px;
}

.green_square{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background-color: #C4D700;
  font-size: 1.5em;
  font-weight: 400;
}